<% if session[:success] %>
  <div class="flash success">
    <p><%= session.delete(:success) %></p>
  </div>
<% end %>

<ul id="lists">
  <% @list.each_with_index do |list, index| %>
    <li>
      <a>
        <a href="/lists/<%= index %>"><%= list[:name] %></a> 
        <p><%= list[:todos].size %></p>
      </a>
    </li>
  <% end %>
</ul>
<% content_for :header_links do %>
  <a href="/lists/new">New List</a>
<% end %>